@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../font/Inter-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

body {
    font-family: "Inter";
}

.name {
    font-size: 28px;
}

.title-h1 {
    font-size: 74px;
    text-transform: uppercase;
}